@font-face { 
    font-family: "SegoePrintRegular";
    src: url("../fonts/SegoePrintRegular.eot");
    src: url("../fonts/SegoePrintRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SegoePrintRegular.woff") format("woff"),
    url("../fonts/SegoePrintRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}